
nav{
  margin-bottom: 2rem;
}

.brand-logo{
    margin-left: 0.75rem;
}

.logo{
    width: 200px;
    padding: 0.75rem;
}
  
.section{
    padding: 0.75rem;
    margin-top: 0.75rem;
}

.section>label{
  font-size: 1rem;
}

.combo-box{
    padding: 0.75rem;
    width: 33.3333333333%;
    margin-top: 2rem;
}

.combo-box>label{
  font-size: 1rem;
}

.combo{
  padding: 0.75rem;
}

.divider{
  margin-bottom: 1rem;
  margin-top: 2rem;;
}